{% extends 'base.html' %}
	<!-- CSS Just for demo purpose, don't include it in your project -->
    {% block static %}
	<link href="{% static 'css/chooserole.css' %}" rel="stylesheet" />
    {% endblock static %}

{% block content %}
<section>
            <div class="row">
        <div class="col-md-6" style="text-align: center">
           <a href="{% url 'roleadmin' %}"><button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">ADMIN</button></a>
        </div>
    <div class="col-md-6" style="text-align: center">
        <a href="{% url 'roleuser' %}"><button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">USER</button></a>
    </div>
	</div>
</section>



{% endblock content %}

