{% extends 'base.html' %}
	<!-- CSS Just for demo purpose, don't include it in your project -->
  {% block static %}
	<link href="{% static 'css/signup.css' %}" rel="stylesheet" />
  {% endblock static %}

{% block content %}
<header style="background-color: black">

    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4" style="color: white">Sign Up User</h3>
                  <form action="{% url 'postuser' %}" method="post">
                    <div class="form-label-group">
                        {% csrf_token %}
                      <input type="number" id="no_ktp" name="ktp" class="form-control" placeholder="Identity Number" required>
                      <label for="no_ktp">Identity Number</label>
                    </div>

                    <div class="form-label-group">
                        {% csrf_token %}
                      <input type="text" id="full_name" name="nama" class="form-control" placeholder="Full Name" required>
                      <label for="full_name">Full Name</label>
                    </div>

                    <div class="form-label-group">
                        {% csrf_token %}
                      <input type="email" id="email" name="email" class="form-control" placeholder="Your Email" required>
                      <label for="email">Your Email</label>
                    </div>

                      <div class="form-label-group">
                          {% csrf_token %}
                      <input type="date" id="birth_date" name="ultah" class="form-control" placeholder="Birth Date" required>
                      <label for="birth_date">Birth Date</label>
                    </div>

                      <div class="form-label-group">
                          {% csrf_token %}
                      <input type="number" id="phone_number" name="nohp" class="form-control" placeholder="Phone Number" required>
                      <label for="phone_number">Phone Number</label>
                    </div>

                      <div class="form-label-group">
                          {% csrf_token %}
                      <input type="text" id="jenis" name="jenis" class="form-control" placeholder="Name of Your Home" required>
                      <label for="phone_number">Name</label>
                    </div>

                      <div class="row">
                          <div class="col-md-6">
                               <div class="form-label-group">
                                   {% csrf_token %}
                                  <input type="text" id="jalan" name="jalan" class="form-control" placeholder="Street" required>
                                  <label for="jalan">Street</label>
                                </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-label-group">
                                  {% csrf_token %}
                                  <input type="number" id="norumah" name="norumah" class="form-control" placeholder="Home Block" required>
                                  <label for="norumah">Home Block</label>
                          </div>
                      </div>

                          <div class="row">
                          <div class="col-md-6">
                               <div class="form-label-group">
                                   {% csrf_token %}
                                  <input type="text" id="kota" name="kota" class="form-control" placeholder="City" required>
                                  <label for="kota">City</label>
                                </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-label-group">
                                  {% csrf_token %}
                                  <input type="number" id="kodepos" name="kodepos" class="form-control" placeholder="Postal Code" required>
                                  <label for="kodepos">Postal Code</label>
                          </div>
                      </div>

                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign Up</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock content %}

