{% extends 'base.html' %}
{% load static %}


{% block static %}
    <link href="{% static 'css/daftarBarang.css' %}" rel="stylesheet" />

{% endblock static %}
{% block content %}
<body>
{% comment %} {% include 'navbar.html' %} {% endcomment %}
<section>
    <div class="belakang">
    <div class="container">
	<div class="row">

        <div class="col-md-12">
        <h4>LIST BARANG</h4>
        <div class="table-responsive">

              <table id="mytable" class="table table-bordred table-striped">

                   <thead>
                   <th>NO</th>
                    <th>ID</th>
                    <th>Nama Item</th>
                    <th>Warna</th>
                    <th>Kondisi</th>
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Pesan Barang</th>
                   </thead>
              <tbody>

    <tr>
      <td>1</td>
      <td>1112</td>
      <td>Mahkota Princess Merk X</td>
      <td>Biru</td>
      <td>Tersedia</td>
      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal" data-target="#detail" ><span class="glyphicon glyphicon-pencil"></span>Detail</button></p></td>
      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
      <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
      <td><input type="checkbox" name="pesan" value="Pesan"></td>
    </tr>

    <tr>
        <td>2</td>
        <td>1111</td>
        <td>Mahkota Princess Merk X</td>
        <td>Biru</td>
        <td>Tersedia</td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal" data-target="#detail" ><span class="glyphicon glyphicon-pencil"></span>Detail</button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        <td><input type="checkbox" name="pesan" value="Pesan"></td>
      </tr>

      <tr>
          <td>3</td>
          <td>1113</td>
          <td>Mahkota Princess Merk X</td>
          <td>Biru</td>
          <td>Tidak Tersedia</td>
          <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal" data-target="#detail" ><span class="glyphicon glyphicon-pencil"></span>Detail</button></p></td>
          <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
          <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          <td><input type="checkbox" name="pesan" value="Pesan"></td>
        </tr>

</table>

        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Update Your Item</h4>
        </div>
        <div class="modal-body">
            <label for="id_barang">Id Barang</label>
            <div class="form-label-group">
                <input type="text" id="id_barang" class="form-control" placeholder="id_barang" required>
            </div>

              <div class="form-label-group">
                <label for="nama_item">Nama Item</label>
                    <select name="nama_item" id="nama_item" class="form-control">
                        <option selected>Choose..</option>
                        <option value="1">Mainan Anak</option>
                        <option value="1">Rumah-rumahan</option>
                        <option value="2">Motorik Kasar</option>
                        <option value="3">Motorik Halus</option>
                    </select>
              </div>
    
              <label for="warna">Warna</label>
              <div class="form-label-group">
                  <input type="text" id="warna" class="form-control" placeholder="warna" required>
              </div>

              <label for="photo">Url Foto</label>
              <div class="form-label-group">
                  <input type="url" id="photo" class="form-control" placeholder="photo" required>
              </div>

              <label for="kondisi">Kondisi</label>
              <div class="form-label-group">
                  <input type="text" id="kondisi" class="form-control" placeholder="kondisi" required>
              </div>

              <label for="lama">Lama Penggunaan</label>
              <div class="form-label-group">
                  <input type="month" id="lama" class="form-control" placeholder="lama" required>
              </div>

              <div class="form-label-group">
                  <label>Anggota</label>
                  <select name="anggota" id="anggota" class="form-control">
                      <option selected>Choose..</option>
                      <option >Jisoo</option>
                      <option >Jennie</option>
                      <option >Rose</option>
                      <option >Lisa</option>
                  </select>
              </div>
              <br>

              <h4 class="login-heading mb-4" style="color: black">Info Barang</h4>
              
              <label for="lama">+Bronze</label>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" id="Persen" class="form-control" placeholder="Persen royalty" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="number" id="sewa" class="form-control" placeholder="Harga sewa" required>
                      </div>
                  </div>
              </div>

              <label for="lama">+Silver</label>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" id="Persen" class="form-control" placeholder="Persen royalty" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="number" id="sewa" class="form-control" placeholder="Harga sewa" required>
                      </div>
                  </div>
              </div>

              <label for="lama">+Gold</label>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" id="Persen" class="form-control" placeholder="Persen royalty" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="number" id="sewa" class="form-control" placeholder="Harga sewa" required>
                      </div>
                  </div>
              </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Update</button>
        </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin akan menghapus item ini?</div>

      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
      </div>
        </div>
      </div>
    </div>

        <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Detail Barang</h4>
      </div>
          <div class="modal-body">
              <p>
              Id barang: 1112<br>
              Nama item: Mahkota Princess Merk X<br>
              Warna: Biru<br>
              Url foto: bit.ly/contohGambar<br>
              Kondisi: Tersedia<br>
              Lama penggunaan: 1 (bulan)<br>
              Pemilik/penyewa: Prince<br>
              </p>

              <p>
                <bold>Info Barang</bold>
                +Bronze
                <div class="row">
                    <div class="col-md-6">
                     Persen royalty: 5 (%)  
                    </div>
                    <div class="col-md-6">
                      Harga sewa: 30.000 (Rupiah/minggu)
                    </div>
                </div><br>
                +Silver
                <div class="row">
                    <div class="col-md-6">
                     Persen royalty: 5 (%)  
                    </div>
                    <div class="col-md-6">
                      Harga sewa: 30.000 (Rupiah/minggu)
                    </div>
                </div><br>
                +Gold
                <div class="row">
                    <div class="col-md-6">
                     Persen royalty: 5 (%)  
                    </div>
                    <div class="col-md-6">
                      Harga sewa: 30.000 (Rupiah/minggu)
                    </div>
                </div><br>
              </p>

      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Close</button>
      </div>
        </div>
      </div>
    </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

  </div>
    </div>
</section>
{% endblock content %}
