{% extends 'base.html' %}
{% load static %}


	<!-- CSS Just for demo purpose, don't include it in your project -->
  {% block static %}
	<link href="{% static 'css/barang.css' %}" rel="stylesheet" />
  {% endblock static %}
{% block content %}
<body style="background-color: darkslategrey;">
<header>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                    <br>
                  <h3 class="login-heading mb-4" style="color: white">Tambah Barang</h3>
                  <form>
                    <div class="form-label-group">
                      <input type="text" id="id_barang" class="form-control" placeholder="id_barang" required>
                      <label for="id_barang">Id Barang</label>
                    </div>

                    <div class="form-label-group">
                          <select name="nama_item" id="nama_item" class="form-control">
                              <option seleted>Nama item</option>
                              <option value="1">Rumah-rumahan</option>
                              <option value="2">Motorik Kasar</option>
                              <option value="3">Motorik Halus</option>
                          </select>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="warna" class="form-control" placeholder="warna" required>
                        <label for="warna">Warna</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="photo" class="form-control" placeholder="photo" required>
                        <label for="photo">Url Foto</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="kondisi" class="form-control" placeholder="kondisi" required>
                        <label for="kondisi">Kondisi</label>
                    </div>

                    <div class="form-label-group">
                        <input type="month" id="lama" class="form-control" placeholder="lama" required>
                        <label for="lama">Lama Penggunaan</label>
                    </div>

                    <div class="form-label-group">
                        <select name="anggota" id="anggota" class="form-control">
                            <option selected>Anggota</option>
                            <option >Jisoo</option>
                            <option >Jennie</option>
                            <option >Rose</option>
                            <option >Lisa</option>
                        </select>
                    </div>
                    <br>

                    <h4 class="login-heading mb-4" style="color: white" >Info Barang</h4>
                    <h6 class="login-heading mb-4" style="color: white">+Bronze</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="Persen" class="form-control" placeholder="Persen royalty" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" id="sewa" class="form-control" placeholder="Harga sewa" required>
                            </div>
                        </div>
                    </div>

                    <h6 class="login-heading mb-4" style="color: white">+Silver</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="Persen" class="form-control" placeholder="Persen royalty" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" id="sewa" class="form-control" placeholder="Harga sewa" required>
                            </div>
                        </div>
                    </div>

                    <h6 class="login-heading mb-4" style="color: white">+Gold</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="Persen" class="form-control" placeholder="Persen royalty" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" id="sewa" class="form-control" placeholder="Harga sewa" required>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>



</body>
{% endblock content %}
