{% extends 'base.html' %}
{% block static %}
{% endblock static %}

{% block content %}
    <div class="container">
    <form style="margin-top: 8rem;" method="POST">
    {% csrf_token %}
    <h2>Buat Pesanan anda</h2>
    {% if request.session.role == 'admin' %}
      <div class="form-group">
      <label>Pengguna</label>
        <select name="pengguna" id="pengguna" class="form-control">
          <option selected>Choose..</option>
          {% for p in pengguna %}
          <option value="{{p.0}}">{{p.1 | title}}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
  <div class="form-group">
    <label for="exampleFormControlSelect2">Barang</label>
    <select multiple class="form-control" id="exampleFormControlSelect2" name="barang">
      {% for b in barang %}
      <option value="{{b.0}}"> {{b.1}} </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="hari">Lama peminjaman (hari)</label>
    <input name="hari" type="text" class="form-control" placeholder="Masukkan lama peminjaman..">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{% endblock content %}