{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/pesanan.css' %}">
{% endblock static %}

{% block content %}
<section class="detail">

    <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id pesanan</th>
              <th scope="col">Daftar barang</th>
              <th scope="col">Harga</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
              <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
             <td>
               <ul>
               {% comment %} {{barang}} {% endcomment %}
                {% for b in barang %}
                  <li> {{b.1}} </li>
                  {% comment %} <li>Motor motoran</li> {% endcomment %}
                {% endfor %}
               </ul>
            </td>
            {% for p in pemesanan %}
            <td>Rp {{p.3 | intcomma | localize }},-</td>
            <td>{{p.6}}</td>
            {% endfor %}
            <td>
                <a href="{% url 'update_pesanan' %}" class="btn btn-primary">Update</a>
            </td>
            <td>
              <a href="#" class="btn btn-danger" id="delete-btn">Delete</a>
            </td>
          </tr>
          <tr>
            
        {% comment %} <a href="#" class="btn btn-danger">Delete</a> {% endcomment %}

<!-- The Modal -->
          
              </td>
            </tr>
        </tbody>
    </table>

  
    </div>
</section>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin akan menghapus item ini?</div>

      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
  <script src="{% static 'js/pesanan.js' %}"></script>
{% endblock javascript %}