{% extends 'base.html' %}
{% block static %}
{% endblock static %}

{% block content %}
    <div class="container">
    <form style="margin-top: 8rem;">
    <h2>Update Pesanan anda</h2>
  <div class="form-group">
    <label>Barang</label>
    <input type="text" class="form-control" placeholder="Boneka jenglot x warna ungu, Oujia x warna pink">
  </div>
  <div class="form-group">
    <label for="hari">Lama peminjaman (hari)</label>
    <input type="text" class="form-control" placeholder="4 hari">
  </div>
  {% comment %} {% if user.is_admin %} {% endcomment %}
    <div class="form-group">
        <label for="statusPengiriman">Status Pengiriman</label>
        <select class="form-control" id="statusPengiriman">
      <option>Menunggu konfirmasi admin</option>
      <option>Sudah dikonfirmasi</option>
      <option>Dibatalkan</option>
    </select>
    </div>
  
  {% comment %} {% endif %} {% endcomment %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock content %}