{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">




</head>

<body >
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10" style="margin-top:90px">
          <h1>Buat Pengiriman</h1>
          <form class="text-left" style="" method="POST" action="/pengiriman/buatPengirimanFormSubmit/">
            {% csrf_token %}
            <div class="form-group"> <label for="form16" contenteditable="false">Barang Pesanan</label> </div>

            {% block static %}
             <link rel="stylesheet" href="css/multiselect.css" type="text/css"/>
             <script src ="js/multiselect.min.js"></script>

            {% endblock static %}
            <select name='barang' id='testSelect1' multiple>
              {% for i in barang_pesanan %}
                <option value='{{i.0}}'>{{i.0}}</option>
              {% endfor %}
            </select>



            <script> document.multiselect('#testSelect1');
            </script>





            <div class="form-group"> <label for="form16" contenteditable="false" >Alamat Tujuan</label> </div>
            <div class="btn-group">
              <div>
                <select name="alamat">
                  {% for i in alamat_tujuan %}
                  <option value="{{i.1}}">Jl.{{ i.2 }} - No. {{ i.3 }} - Kota {{i.4}} - Kode Pos {{ i.5 }}</option>
                  {% endfor %}
                  <option value="Milk">Buaran</option>
                </select>
              </div>
            </div>
            <div class="form-group"> <label for="form18">Tanggal Pengiriman</label> <input name='tanggal' class="form-control" id="form18" placeholder="2019-02-24" style=""> </div>
            <div class="form-group"><label>Metode</label><input name='metode' class="form-control" id="form18" placeholder="Pesawat" style=""></div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>



</html>

{% endblock content %}
