{% extends 'base.html' %}


<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  {% block static %}
   <link rel="stylesheet" href="css/multiselect.css" type="text/css"/>
   <script src ="js/multiselect.min.js"></script>
   <link href="{% static 'css/pengiriman.css' %}" rel="stylesheet" />
  {% endblock static %}
</head>
{% block content %}
{% comment %} {% include 'navbar.html' %} {% endcomment %}
<section>
<body draggable="true" >

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top:90px">
          <h1 class="display-4">Pengiriman</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive" style="">
            <div class="search-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th style="">Id Pengiriman</th>
                  <th>Daftar Barang - Id Pemesanan</th>
                  <th>Harga Total</th>
                  <th style="">Tanggal Pengiriman</th>
                  <th style="">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in pengiriman %}
                <tr>
                  <td>{{ i.0 }}</td>
                  <td>{{ i.4 }} - {{ i.1 }}</td>
                  <td>Rp. {{ i.2 }}</td>
                  <td>{{ i.3 }}</td>
                  <td>
                    <div class="btn-group">
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#update">Update</a>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#delete">Delete</a>
                      <a id="{{ i.0 }}" href="#" class="btn btn-primary" data-toggle="modal" data-target="#buatreview">Tulis Review</a> </div>
                  </td>
                </tr>

                <!-- delete pengiriman -->
                  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                    </div>
                        <div class="modal-body">

                     <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin akan menghapus item ini?</div>

                    </div>
                      <div class="modal-footer ">
                      <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
                    </div>
                      </div>
                    </div>
                  </div>

                  <!-- end delete pengiriman -->

                  <!-- update pengiriman -->
                  <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Update this entry</h4>
                    </div>
                        <div class="modal-body">
                          <form class="text-left" style="">
                            <div class="form-group"> <label for="form16" contenteditable="false">Barang Pesanan</label> </div>


                            <select id='testSelect1' multiple>
                              <option value='1'>Item 1</option>
                              <option value='2'>Item 2</option>
                              <option value='3'>Item 3</option>
                              <option value='4'>Item 4</option>
                              <option value='5'>Item 5</option>
                            </select>



                            <script> document.multiselect('#testSelect1');
                            </script>





                            <div class="form-group"> <label for="form16" contenteditable="false" >Alamat Tujuan</label> </div>
                            <div class="btn-group">
                              <button class="btn btn-primary dropdown-toggle" data-toggle="Jl. Buaran Buntu Blok A5/7"> Dropdown </button>
                              <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                              </div>
                            </div>
                            <div class="form-group"> <label for="form18">Tanggal Pengiriman</label> <input type="email" class="form-control" id="form18" placeholder="19-05-2019" style=""> </div>
                            <div class="form-group"><label>Metode</label><input type="email" class="form-control" id="form18" placeholder="Pesawat Udara" style=""></div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>

                    </div>
                      <div class="modal-footer ">
                      </div>
                      </div>
                    </div>
                  </div>
                  <!-- end update pengiriman -->

                  <!-- Buat Review -->

                  <div class="modal fade" id="buatreview" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title" id="Heading">Buat Review</h4>
                    </div>
                        <div class="modal-body">

                          <form class="text-left" style="">
                            <div class="form-group"> <label for="form16" contenteditable="false">Pilih Barang</label> </div>

                            <select id='testSelect1' multiple>
                              <option value='1'>Item 1</option>
                              <option value='2'>Item 2</option>
                              <option value='3'>Item 3</option>
                              <option value='4'>Item 4</option>
                              <option value='5'>Item 5</option>
                            </select>



                            <script> document.multiselect('#testSelect1');
                            </script>






                            <div class="form-group"> <label for="form18">Review</label>
                              <textarea rows="8" cols="40">put your review here</textarea></div>

                            <button type="button" class="btn btn-primary" onclick="buatReview({{i.0}})" >Submit</button>
                          </form>
                    </div>
                      <div class="modal-footer ">
                          </div>
                      </div>
                    </div>
                  </div>
                <!--  end buat review-->
                {% endfor %}
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <script>
         function buatReview(id_pengiriman){
     data = {
         "id_pengiriman": id_pengiriman,
         "csrfmiddlewaretoken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
       }
     console.log(id_pengiriman)
     $.ajax({
         type: "POST",
         url: "buatReviewFormSubmit/",
         data: data,
         dataType: "json"
         ,
         success: function(data) {
             console.log(data);
             window.location.href="/review/list_review"

         },
         error: function(xhr) {
             console.log(xhr);
         }
     });

  }
     </script>
     <script>
         function deletePengiriman(id_pengiriman){
     data = {
         "id_pengiriman": id_pengiriman,
         "csrfmiddlewaretoken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
       }
     console.log(id_pengiriman)
     $.ajax({
         type: "POST",
         url: "deletePengiriman/",
         data: data,
         dataType: "json"
         ,
         success: function(data) {
             console.log(data);
             window.location.href="/pengiriman"

         },
         error: function(xhr) {
             console.log(xhr);
         }
     });

  }
     </script>
</section>
 {% endblock content %}
</html>
