body{
    background-image: url("../img/list-bg.7c31b9a00708.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*.jumbotron-fluid{*/
    /*padding: 0 40px 0 40px !important;*/
/*}*/

.belakang{
    background-color: white;
    margin: 20px 40px 20px 40px;
    padding: 30px 0 20px 0;
    border-radius: 10px;
}