{% extends 'base.html' %}
{% block static %}
{% endblock static %}

{% block content %}

    {% comment %} {% if user.is_admin %} {% endcomment %}
    <div class="container" style="margin-top: 8rem;">
            {% if level %}
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Level</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Minimum poin</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for l in level %}
                <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{l.0}}</td>
                <td>{{l.2}}</td>
                <td>{{l.1}}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'update_level' l.0 %}">Update</a>   
                </td>
                <td>
                    <button class="btn btn-danger" id="del-btn" data-title="Delete" data-toggle="modal" data-target="#delete" value="{{l.0}}">Delete</button>
                </td>
                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>
            {% else %}
        <a href="{% url 'new_level' %}" class="btn btn-primary">Buat Level</a>
            {% endif %}
        
    </div>
        

        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin ingin menghapus level ini? {{l}}</div>

      </div>
      <div class="modal-footer ">
      <form action="POST">
        <a type="button"  href="{% url 'delete_level' %}" id="delete-yes" class="btn btn-success" value=""><span class="glyphicon glyphicon-ok-sign"></span>Yes</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
      </form>
      </div>
    </div>
  </div>
</div>
    {% comment %} {% endif %} {% endcomment %}
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/level.js' %}"></script>
{% endblock javascript %}