{% extends 'base.html' %}
{% block static %}
{% endblock static %}

{% block content %}
<div class="container">
    <div class="form-container" style="margin-top: 8rem;">
        <h2>Buat Level</h2>
        <form method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="form-level">Nama level</label>
                <input type="text" name="nama-level" id="" class="form-control" placeholder="Isi nama level">
            </div>
            <div class="form-group">
                <label for="form-level">Minimum poin</label>
                <input type="text" name="min-poin" id="" class="form-control" placeholder="Isi minimum poin">
            </div>
            <div class="form-group">
                <label for="form-level">Deskripsi</label>
                <input type="text" name="deskripsi" id="" class="form-control" placeholder="Deskripsi level">
            </div>
            <button type="submit" class="btn btn-success">Create Level</button>
        </form>
    </div>
</div>
{% endblock content %}
    

{% block javascript %}
{% endblock javascript %}