{% extends 'base.html' %}
{% load static %}


	<!-- CSS Just for demo purpose, don't include it in your project -->
  {% block static %}
	<link href="{% static 'css/item.css' %}" rel="stylesheet" />
  {% endblock static %}
{% block content %}
<body style="background-color: darkslategrey;">
<header>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4" style="color: white">Data Pengguna</h3>
                {% if request.session.role == 'admin' %}
                    <div>
              <label>Nomor Identitas</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.ktp }}</p>
          </div>
            <div>
              <label>Nama Lengkap</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.nama }}</p>
          </div>
            <div>
              <label>Email</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.email }}</p>
          </div>
            <div>
              <label>Tanggal Lahir</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.tanggal }}</p>
          </div>
            <div>
              <label>Nomor Telepon</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                 {{  request.session.notelp }}</p>
          </div>
                        {% elif request.session.role == 'user' %}
                    <div>
              <label>Nomor Identitas</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.ktp }}</p>
          </div>
            <div>
              <label>Nama Lengkap</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.nama }}</p>
          </div>
            <div>
              <label>Email</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.email }}</p>
          </div>
            <div>
              <label>Tanggal Lahir</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.tanggal }}</p>
          </div>
            <div>
              <label>Nomor Telepon</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.notelp }}</p>
          </div>
            <div>
              <label>Alamat</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  711 Leavenworth Apt. # 47 San Francisco, CA 94109 hone : (301) 916-0860
{#                  {{ request.session.alamat }}#}
                  </p>
          </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
              <label>Poin</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.poin }}</p>
          </div>
                </div>
                <div class="col-md-6">
                    <div>
              <label>Level</label>
              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">
                  {{ request.session.level }}</p>
          </div>
                </div>
                {% endif %}
            </div>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
</body>
{% endblock %}
