{% extends 'base.html' %}
{% block static %}
{% endblock static %}

{% block content %}
<div class="container">
    <div class="form-container" style="margin-top: 8rem;">
        <h2>Update Level</h2>
        <form method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="form-level">Nama level</label>
                <input type="text" name="nama-level" id="" class="form-control" placeholder="{{level.0}}" readonly value="{{level.0}}">
            </div>
            <div class="form-group">
                <label for="form-level">Minimum poin</label>
                <input type="text" name="min-poin" id="" class="form-control" placeholder="1000">
            </div>
            <div class="form-group">
                <label for="form-level">Deskripsi</label>
                <input type="text" name="deskripsi" id="" class="form-control" placeholder="Level tertinggi">
            </div>
            <button type="submit" class="btn btn-success">Update Level</button>
        </form>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin akan menghapus item ini?</div>

      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
    

{% block javascript %}
{% endblock javascript %}