{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block navbar %}
    <!-- Navigation -->
    {% if request.session.role == 'admin' %}
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Toys Rent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item"><a href="{% url 'list_level' %}" class="nav-link">
          Level</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
            </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="">Item</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'tambah' %}" style="color: black">Add Item</a></li>
                      <li><a tabindex="-1" href="{% url 'daftar' %}" style="color: black">List Item</a></li>
                  </ul>
                <a class="dropdown-item" href="#">Barang</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'tambah_barang' %}" style="color: black">Add Barang</a></li>
                      <li><a tabindex="-1" href="{% url 'daftar_barang' %}" style="color: black">List Barang </a></li>
                  </ul>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="">Pemesanan</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'buat_pesanan' %}" style="color: black">Add Order</a></li>
                      <li><a tabindex="-1" href="{% url 'list_pesanan'%}" style="color: black">List Order</a></li>
                  </ul>
                <a class="dropdown-item" href="">Pengiriman</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'buat_pengiriman' %}" style="color: black">Add Pengiriman</a></li>
                      <li><a tabindex="-1" href="{% url 'list_pengiriman'%}" style="color: black">List Pengiriman</a></li>
                  </ul>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'chat' %}">Chat</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{#    batas role #}
    {% elif request.session.role == 'user' %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Toys Rent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
{#              data-toggle="modal" data-target="#myModal"#}
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}" >Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
            </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="">Item</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'daftar' %}" style="color: black">List Item</a></li>
                  </ul>
                <a class="dropdown-item" href="#">Barang</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'daftar_barang' %}" style="color: black">List Barang </a></li>
                  </ul>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="">Pemesanan</a>
                  <ul class="dropdown-submenu">
                      <li><a tabindex="-1" href="{% url 'buat_pesanan' %}" style="color: black">Add Order</a></li>
                      <li><a tabindex="-1" href="{% url 'list_pesanan'%}" style="color: black">List Order</a></li>
                  </ul>
                <a class="dropdown-item" href="#">Pengiriman</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'chat' %}">Chat</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Toys Rent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/#kontak">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% endif %}
            <!-- Modal -->
{#  <div class="modal fade" id="myModal" role="dialog">#}
{#    <div class="modal-dialog">#}
{##}
{#      <!-- Modal content-->#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h4 class="modal-title">My Profile</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <div>#}
{#              <label>Nomor Identitas</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  7489291084758</p>#}
{#          </div>#}
{#            <div>#}
{#              <label>Nama Lengkap</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  Diana Petersen</p>#}
{#          </div>#}
{#            <div>#}
{#              <label>Email</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  bangbasdat@ui.ac.id</p>#}
{#          </div>#}
{#            <div>#}
{#              <label>Tanggal Lahir</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  3 Februari 1998</p>#}
{#          </div>#}
{#            <div>#}
{#              <label>Nomor Telepon</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  087361939197</p>#}
{#          </div>#}
{#            <div>#}
{#              <label>Alamat</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  711 Leavenworth Apt. # 47 San Francisco, CA 94109 hone : (301) 916-0860</p>#}
{#          </div>#}
{#            <div class="row">#}
{#                <div class="col-md-6">#}
{#                    <div>#}
{#              <label>Poin</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  100</p>#}
{#          </div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div>#}
{#              <label>Level</label>#}
{#              <p style="background-color: #546e7a; border-radius: 10px; padding-left: 20px; color: white">#}
{#                  Gold</p>#}
{#          </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-default" style="background-color: #fed136" data-dismiss="modal">Close</button>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}

{#    <script>#}
{#    function modalProfile(){#}
{#    $(".modal fade")#}
{#    $.ajax(#}
{#        {#}
{#          url: "/profile/",#}
{#            datatype: 'json',#}
{#          method:'POST',#}
{#          success: function(result){#}
{#            console.log(result)#}
{#            stasiun=''#}
{#            for(i=0; i<result.stasiun.length;i++){#}
{#                stasiun+='<option>'+result.stasiun[i]+'</option>'#}
{#            }#}
{#            $('#namaStasiun').attr('placeholder',result.stasiun[4])#}
{#            $('#alamatStasiun').attr('placeholder',result.stasiun[1])#}
{#            $('#Latitude').attr('placeholder',result.stasiun[3])#}
{#            $('#Longitude').attr('placeholder',result.stasiun[2])#}
{##}
{#            // $('#inputStasiun').html(#}
{#            //     `<option selected>`+result.nama_stasiun+`</option>`+#}
{#            //     stasiun#}
{#            // )#}
{#            }#}
{#        }#}
{#        );#}
{##}
{#}#}
{#    </script>#}

{% endblock %}
