{% extends 'base.html' %}
{% load static %}


{% block static %}
    <link href="{% static 'css/daftarItem.css' %}" rel="stylesheet" />

{% endblock static %}
{% block content %}
<body>
{% comment %} {% include 'navbar.html' %} {% endcomment %}
<section>
    <div class="belakang">
    <div class="container">
	<div class="row">

        <div class="col-md-12">
        <h4>LIST ITEM</h4>
        <div class="table-responsive">

              <table id="mytable" class="table table-bordred table-striped">
                  <thead>
{#                   <th>NO</th>#}
                     <th>Nama Item</th>
                     <th>Kategori</th>
                     <th>Lihat Barang</th>
                      <th>Edit</th>
                       <th>Delete</th>
                   </thead>
              <tbody>

                {% for i in item %}
        <tr>
        <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal" data-target="#detail" ><span class="glyphicon glyphicon-pencil"></span>Detail</button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
              {% endfor %}

              </tbody>
</table>

        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Update Your Item</h4>
      </div>
          <div class="modal-body">

          <div class="form-group">
              <label>Nama</label>
        <input class="form-control " type="text" placeholder="Mahkota Princess Merk X">
        </div>

        <div class="form-group">
            <label>Deskripsi</label>
        <input class="form-control " type="text" placeholder="Mahkota Mainan">
        </div>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Usia Minimum</label>
                    <input class="form-control " type="number" placeholder="5">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Usia Maksimum</label>
                    <input class="form-control " type="number" placeholder="10">
                  </div>
              </div>
          </div>

          <div class="form-group">
            <label>Bahan</label>
        <input class="form-control " type="text" placeholder="Plastik">
        </div>

          <label>Kategori</label>
          <select class="selectpicker" multiple data-live-search="true">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
          </select>
{#          <select class="custom-select" multiple>#}
{#              <option selected>Mainan Anak</option>#}
{#              <option value="1">Rumah-rumahan</option>#}
{#              <option value="2">Motorik Kasar</option>#}
{#              <option value="3">Motorik Halus</option>#}
{#          </select>#}

      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Update</button>
      </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin akan menghapus item ini?</div>

      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
      </div>
        </div>
      </div>
    </div>

        <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Detail Item</h4>
      </div>
          <div class="modal-body">
              <p>
                 Nama: Mahkota Princess Merk X<br>
              Deskripsi: Mahkota mainan<br>
              Rentang Usia: 5-10<br>
              Bahan: Plastik<br>
              Kategori: Motorik kasar, Aksesoris, Mainan perempuan
              </p>
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Close</button>
      </div>
        </div>
      </div>
    </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

  </div>
    </div>
</section>
{% endblock content %}