{% extends 'base.html' %}
{% load static %}


	<!-- CSS Just for demo purpose, don't include it in your project -->
  {% block static %}
	<link href="{% static 'css/item.css' %}" rel="stylesheet" />
  {% endblock static %}
{% block content %}
<body style="background-color: darkslategrey;">
<header>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4" style="color: white">Tambah Item</h3>
                  <form method="post" action="{% url 'postitem' %}">
                    <div class="form-label-group">
                        {% csrf_token %}
                      <input type="text" id="nama" name="nama" class="form-control" placeholder="Your Name" required>
                      <label for="nama">Name of Item</label>
                    </div>

                    <div class="form-label-group">
                        {% csrf_token %}
                      <input type="text" id="description" name="deskripsi" class="form-control" placeholder="Description" required>
                      <label for="description">Description</label>
                    </div>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-label-group">
                                  {% csrf_token %}
                                  <input type="number" id="min-age" name="minage" class="form-control" placeholder="minimum age" required autofocus>
                                  <label for="min-age">Minimum Age</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-label-group">
                                  {% csrf_token %}
                                  <input type="text" id="max-age" name="maxage" class="form-control" placeholder="maximum age" required>
                                  <label for="max-age">Maximum Age</label>
                              </div>
                          </div>
                      </div>


                      <div class="form-label-group">
                          {% csrf_token %}
                      <input type="text" id="bahan" class="form-control" name="bahan" placeholder="Type" required>
                      <label for="bahan">Type</label>
                    </div>

                      <div>
                          <select class="custom-select" name="kategori" multiple>
                              <option selected>motorik</option>
                              <option>nonmotorik</option>
                          </select>
                      </div>
                      <br>
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>



</body>
{% endblock content %}
