{% extends 'base.html' %}
{% block static %}
 <link rel="stylesheet" href="css/multiselect.css" type="text/css"/>
 <script src ="js/multiselect.min.js"></script>

{% endblock static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

</head>

{% block content %}
<body >
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top:90px;">
          <h1 class="display-4">Review</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><a class="btn btn-primary" href="#" data-toggle="modal" data-target="#buat">Buat Review</a></div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive" style="">
            <table class="table">
              <thead>
                <tr>
                  <th style="">Id Pengiriman</th>
                  <th>Barang</th>
                  <th>Review</th>
                  <th style="">Tanggal Review</th>
                  <th style="">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in review %}
                <tr>
                  <td>{{ i.0 }}</td>
                  <td>{{ i.1 }}</td>
                  <td>{{ i.3 }}</td>
                  <td>{{ i.2 }}</td>
                  <td>
                    <div class="btn-group"> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#update">Update</a> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#delete">Delete</a> </div>
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>
                    <div class="btn-group"> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#update">Update</a> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#delete">Delete</a> </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>
                    <div class="btn-group"> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#update">Update</a> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#delete">Delete</a> </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <h4 class="modal-title custom_align" id="Heading">Delete this Review</h4>
    </div>
        <div class="modal-body">

     <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Apakah kamu yakin akan menghapus review ini?</div>

    </div>
      <div class="modal-footer ">
      <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>Yes</button>
      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
    </div>
      </div>
    </div>
  </div>

  <!-- Buat Review -->

  <div class="modal fade" id="buat" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <h4 class="modal-title" id="Heading">Buat Review</h4>
    </div>
        <div class="modal-body">

          <form class="text-left" style="">
            <div class="form-group"> <label for="form16" contenteditable="false">Pilih Barang</label> </div>

            <select id='testSelect1' multiple>
              <option value='1'>Item 1</option>
              <option value='2'>Item 2</option>
              <option value='3'>Item 3</option>
              <option value='4'>Item 4</option>
              <option value='5'>Item 5</option>
            </select>



            <script> document.multiselect('#testSelect1');
            </script>






            <div class="form-group"> <label for="form18">Review</label>
              <textarea rows="8" cols="40">put your review here</textarea></div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
      <div class="modal-footer ">
          </div>
      </div>
    </div>
  </div>
<!--  end buat review-->

<!-- Update Review -->

<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
<div class="modal-content">
      <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" id="Heading">Update Review</h4>
  </div>
      <div class="modal-body">

        <form class="text-left" style="">
          <div class="form-group"> <label for="form16" contenteditable="false">Pilih Barang</label> </div>


          <select id='testSelect1' multiple>
            <option value='1'>Item 1</option>
            <option value='2'>Item 2</option>
            <option value='3'>Item 3</option>
            <option value='4'>Item 4</option>
            <option value='5'>Item 5</option>
          </select>
          <script> document.multiselect('#testSelect1');
          </script>
          <div class="form-group"> <label for="form18">Review</label>
            <textarea rows="8" cols="40">Barang ini sangat keren dan kece dan asik untuk dimainkan</textarea></div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
    <div class="modal-footer ">
        </div>
    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>

{% endblock content %}
