{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">




</head>

<body >
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10" style="margin-top:90px">
          <h1>Update Review</h1>
          <form class="text-left" style="">
            <div class="form-group"> <label for="form16" contenteditable="false">Pilih Barang</label> </div>

            {% block static %}
             <link rel="stylesheet" href="css/multiselect.css" type="text/css"/>
             <script src ="js/multiselect.min.js"></script>

            {% endblock static %}
            <select id='testSelect1' multiple>
              <option value='1'>Item 1</option>
              <option value='2'>Item 2</option>
              <option value='3'>Item 3</option>
              <option value='4'>Item 4</option>
              <option value='5'>Item 5</option>
            </select>



            <script> document.multiselect('#testSelect1');
            </script>






            <div class="form-group"> <label for="form18">Review</label>
              <textarea rows="8" cols="50">Barang ini sangat keren dan kece dan asik untuk dimainkan</textarea></div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>


</html>

{% endblock content %}
